
.main {
    display: flex;
}

.main div {
    border: 5px solid red;
    text-align: center;
}

.main div div {
    background-color: black;
    color: white;
    padding: 10%;
}

.main div div:hover {
    background-color: yellow;
}