body {
    background-color: tan;
}


.main {
    display: flex;
    justify-content: center;
}

.main div {
    /* border: 5px solid red; */
    text-align: center;
}

.main div div {
    background-color: black;
    color: tan;
    padding: 10%;
}

.main div div:hover {
    background-color: tan;
}

input {
    width: 30%;
    font-size: 24px;
    font-weight: 700;
}